<% title("New Document") %>

<div clas='row'>
    <div class='columns large-8'>
        <fieldset>
            <legend>New Document</legend>

        <%= simple_form_for [@workspace, @document], html: { multipart: true } do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.text_field :name, placeholder: 'Name' %>
            <%= f.text_area :description, placeholder: 'Describe your dataset', rows: 10 %>
            <%= f.text_field :tags, placeholder: 'What sector, category or tag would you like to assign your dataset? e.g. Health, Economy, etc.' %>
            <div class='row panel callout'>
                <div class='large-8 columns'>
                    You can upload a document file (For datasets, visit <%= link_to 'link', [@workspace, :datasets] %>)
                </div>
                <div class='large-4 columns'>
                    <%= f.file_field :attachment %>
                </div>
            </div>
            <hr>
            <%= f.button :submit, "Upload", class: 'button success secondary' %>
        <% end %>

        </fieldset>
    </div>
</div>
