<% title("Edit Data Series") %>
<div class='row'><div class='large-12 columns'><h1>Edit DataSeries</h1>

<%= simple_form_for @data_serie do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :note %>
    <%= f.simple_fields_for :unit_of_measure do |uom|%>
        <%= uom.input :code, label: 'Unit of Measure' %>
    <% end %>
    <%= f.input :sources %>
    <%= f.submit %>
<% end %>
</div></div>
