<div class='row'>
    <div class='large-12 columns'>
    <h1>Data Series</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Unit of Measure</th>
                <th>Sector</th>
                <th>Keywords</th>
                <th>Sources</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <% @data_series.each do |data_serie| %>
            <tr>
                <td><%= data_serie.name %></td>
                <td><%= data_serie.description %></td>
                <td><%= data_serie.unit_of_measure.description if !data_serie.unit_of_measure.nil?%></td>
                <td><%= data_serie.sector.description if !data_serie.sector.nil?%></td>
                <td><%= data_serie.tags %></td>
                <td><%= data_serie.sources %></td>
                <td><%= data_serie.note %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <div class='panel'>
        <h4>Available Data belonging to Data Series</h4>
        <%= @display_attributes.size %>
    </div>

    <h5>Filter Data from Data series</h5>
    <%= form_tag :controller => "data_series", :action => 'generate_csv', :method => 'get' do %>
    <table>
    <thead>
        <tr>
            <th>Select</th>
            <th>Display Title</th>
            <th>Space Format</th>
            <th>Time Format</th>
            <th>No. of Records</th>
            <th>Data Serie Association</th>
        </tr>
    </thead>
    <tbody>


        <% @display_attributes.each do |da| %>
            <tr>
                <td><%= check_box_tag "display_title-#{da[:display_title]}".to_sym %></td>
                <td><%= da[:display_title] %></td>
                <td><%= da[:space_format] %></td>
                <td><%= da[:time_format] %></td>
                <td><%= da[:records_number] %></td>
                <!-- TODO -> should be able to link to a data serie directly -->
                <td><%= da[:data_serie_slug] %></td>
            </tr>
        <% end %>

    </tbody>
    </table>
    <%= submit_tag "Generate", name: nil, class: 'button' %>
    <% end %>
    </div>
</div>

