<% title("Data Series") %>
<div class='row'>
    <div class='large-12 columns'>
    <h1>Data Series</h1>

    <table id='data-series-datatable'>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Unit of Measure</th>
                <!-- <th>Sector</th> -->
                <th>Keywords</th>
                <th>Sources</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <% @data_series.each do |data_serie| %>
            <tr>
                <td><%= link_to data_serie.name, data_serie %></td>
                <td><%= data_serie.description %></td>
                <td>
                  <% if data_serie.units_of_measure.exists? %>
                    <%= data_serie.units_of_measure.first.description %>
                  <% else %>
                    None
                  <% end %>
                </td>
                <td><%= data_serie.tags %></td>
                <td><%= data_serie.sources %></td>
                <td><%= data_serie.note %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>
    </div>
