<% title "Pending Joined up Datasets"%>

<div class='row'>
    <ul class="breadcrumbs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Open Workspaces", @workspace %></li>
      <li class="active"><i class='fa fa-clock-o'></i>
          Pending
      </li>
    </ul>

    <h4 class='text-center'>Joined Up datasets [Pending]</h4>
        <div class='panel'>
          Please edit the following datasets appropriately.
          <br/>
        </div>
    <hr>
    <div class='row'>
      <table>
        <thead>
          <tr>
            <th>Uploaded by</th>
            <th>Name</th>
            <th>Date</th>
            <th>Review</th>
          </tr>
        </thead>

        <tbody>
          <% @pending.each do |dataset| %>
          <tr>
            <td><%= dataset.user.full_name %></td>
            <td><%= dataset.name if !dataset.name.nil? %></td>
            <td>
            <%= dataset.created_at %>
            </td>
            <td>
              <%= link_to "visit", open_workspace_joined_up_dataset_path(@workspace, dataset.id) %>
              <%# link_to "review", open_workspace_prepare_path(@workspace, dataset.id) %></td>
          </tr>
          <% end %>
        </tbody>

      </table>
    </div>

</div>
