<% title "Upload"%>

<div class='row'>
    <ul class="breadcrumbs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Open Workspaces", '#' %></li>
      <li class="active"><i class='fa fa-cloud-upload'></i>
          Upload
      </li>
    </ul>

    <h4 class='text-center'>Upload CSV file</h4>
        <%= form_tag import_open_workspace_joined_up_datasets_path(@workspace), multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Import CSV" %>
        <% end %>
    <hr>
    <div class='row'>
    </div>

</div>
