<% title('All Datasets') %>
<div class='row'>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do%>
            Home <i class='fa fa-home'></i>
        <% end %>
      </li>

      <li class="active">All Datasets</li>
    </ol>

    <% if signed_in? %>
    <div class='row'>
        <%= link_to new_dataset_path, class: 'btn btn-primary' do %>
            New Dataset <i class='fa fa-plus'></i>
        <% end %>

        <div class='alert alert-info pull-right'>
            <p class='leading'>You can download all datasets as:</p>
            <ul>
                <li><%= link_to "JSON", "#{datasets_url}.json" %></li>
                <li><%= link_to "CSV", datasets_path(@datasets, format: 'csv') %></li>
            </ul>
        </div>
    </div>
    <% end %>
    <% if @datasets %>
        <h3 class='page-header'>Datasets</h3>
        <div style="margin-bottom: 5.5em;">
            <% @datasets.each do |dataset| %>
                <div class='panel panel-default'>

                    <div class='panel-heading'>
                        <h1 class='panel-title'><%= dataset.name %></h1>
                    </div>

                    <div class='panel-body'>
                        <%= dataset.description %><br/>
                        <% if dataset.created_at %>
                            <hr>
                            <span class='date'>
                                <i class='fa fa-calendar'></i> posted <%= time_ago_in_words(dataset.created_at)+ " ago" %>
                            </span><br/>
                            <span class='comments'>
                                <i class='fa fa-comments'></i>
                                <%= pluralize(dataset.comments.count, 'comment') %>
                            </span>
                            <span class='views'>
                                <i class='fa fa-eye'></i>
                                <%= pluralize dataset.view_count, 'view' %>
                            </span>
                        <% end %>
                    </div>

                    <div class='panel-footer'>
                        <%= link_to dataset, class: 'btn btn-default' do%>
                            visit <i class='fa fa-eye'></i>
                        <% end %>
                        <% if signed_in? and current_user.has_role?(:admin) %>
                            <%= link_to delete_dataset_path(dataset), class: 'btn btn-danger' do%>
                                Delete <i class='fa fa-trash-o'></i>
                            <% end %>
                        <% end %>
                        <%= link_to dataset.attachment.url do %>
                            <i class='fa fa-download'></i>
                        <% end %>
                    </div>

                </div>
            <% end %>
            <%= paginate @datasets %>
        </div>

    <% end %>
</div>
