<% title('All Datasets') %>
<div class='row'>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do%>
            Home <i class='fa fa-home'></i>
        <% end %>
      </li>

      <li class="active">All Datasets</li>
    </ol>


    <%= link_to new_dataset_path, class: 'btn btn-primary' do %>
        New Dataset <i class='fa fa-plus'></i>
    <% end %>
    <h3>Datasets</h3>
    <div id='datasets'>
        <% @datasets.each do |dataset| %>
        <div class='box panel panel-default'>
            <div class='panel-heading'>
                <h1 class='panel-title'><%= dataset.name %></h1>
            </div>
            <div class='panel-body'>
                <%= dataset.description %><br/>
                <% if dataset.created_at %>
                    <hr>
                    <span class='date'>
                        <i class='fa fa-calendar'></i> posted <%= time_ago_in_words(dataset.created_at)+ " ago" %>
                    </span>
                <% end %>
            </div>
            <div class='panel-footer'>
                <%= link_to dataset, class: 'btn btn-default' do%>
                    visit <i class='fa fa-eye'></i>
                <% end %>
                <% if signed_in? and current_user.has_role?(:admin) %>
                    <%= link_to delete_dataset_path(dataset), class: 'btn btn-danger' do%>
                        Delete <i class='fa fa-trash-o'></i>
                    <% end %>
                <% end %>
                <%= link_to dataset.attachment.url do %>
                    <i class='fa fa-download'></i>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
    <%= paginate @datasets %>
</div>
