<div class='row'>


    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do%>
            Home <i class='fa fa-home'></i>
        <% end %>
      </li>

      <li class="active">All Datasets</li>
    </ol>


    <%= link_to new_dataset_path, class: 'btn btn-primary' do %>
        New Dataset <i class='fa fa-plus'></i>
    <% end %>
    <h3>Datasets</h3>
    <table class='table'>
        <% @datasets.each do |dataset| %>
        <tr>
            <td><%= dataset.name %></td>
            <td><%= link_to "visit", dataset %></td>
        </tr>
        <% end %>
    </table>
    <%= paginate @datasets %>
</div>
