<div clas='row'>


    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do%>
            Home <i class='fa fa-home'></i>
        <% end %>
      </li>

      <li class="active">Create a new dataset</li>
    </ol>


    <div class='panel panel-info'>
        <div class='panel-heading'>
            <h2 class='panel-title'>New Dataset</h2>
        </div>
        <div class='panel-body'>
        <p class='lead alert btn btn-default'>
            <i class='fa fa-warning'></i> <a href='javascript:void(0);' onclick="startIntro();">
                Are you lost? Get Help!
                <i class='fa fa-bug'></i>
            </a>
        </p>
            <script type="text/javascript">
                function startIntro(){
                    var intro = introJs();
                    intro.setOptions({
                        tooltipClass: 'customDefault',
                        steps: [
                        {
                            element: document.querySelector("#form_step1"),
                            intro: 'Fill in the name of your dataset'
                        },
                        {
                            element: document.querySelectorAll('#form_step2')[0],
                            intro: 'Please provide a description of this dataset.'
                        },
                        {
                            element: '#form_step3',
                            intro: 'You must provide a title for your chart.'
                        },
                        {
                            element: "#form_step4",
                            intro: 'You must provide a subtitle; if none, type n/a.'
                        },
                        {
                            element: "#form_step5",
                            intro: 'The X-label defines the name of the "x" axis of your chart. It is optional.'
                        },
                        {
                            element: "#form_step6",
                            intro: 'The Y-label defines the name of the "y" axis of your chart. It is optional.'
                        },
                        {
                            element: "#form_step7",
                            intro: 'Data units are important; they tell us whether we are handling metrics. Use an appropriate metric such as kilos, milions, etc.'
                        },
                        {
                            element: "#form_step8",
                            intro: 'If you are working with a chart, please choose the type of chart from this list. Refer to the manual for the excel format to use.'
                        },
                        {
                            element: "#form_step9",
                            intro: 'Click this button to choose the location of your excel file.'
                        },
                        {
                            element: "#form_step10",
                            intro: 'Click this button to effect the changes you are adding.',
                            position: 'right'
                        }
                        ]
                    });
                    intro.start();
                }
            </script>

        <%= simple_form_for @dataset, html: { class: 'form-horizontal', multipart: true } do |f| %>

            <%= render 'shared/error_messages', object: f.object %>

            <div class='form-group' id='form_step1'>
                <%= f.label :name, class: 'col-lg-2' %>
                <div class='col-lg-10'>
                    <%= f.input_field :name, class: 'form-control' %>
                </div>
            </div>
            <div class='form-group' id='form_step2'>
                <%= f.label :description, class: 'col-lg-2' %>
                <div class='col-lg-10'>
                    <%= f.input_field :description, class: 'form-control' %>
                </div>
            </div>

            <hr>

            <div class='form-group' id='form_step3'>
                <%= f.label :title, class: 'col-lg-2' %>
                <div class='col-lg-10'>
                    <%= f.input_field :title, class: 'form-control' %>
                </div>
            </div>

            <div class='form-group' id='form_step4'>
                <%= f.label :sub_title, class: 'col-lg-2' %>
                <div class='col-lg-10'>
                    <%= f.input_field :sub_title, class: 'form-control' %>
                </div>
            </div>

            <div class='form-group' id='form_step5'>
                <%= f.label :x_label, class: 'col-lg-2' %>
                <div class='col-lg-10'>
                    <%= f.input_field :x_label, class: 'form-control' %>
                </div>
            </div>

            <div class='form-group' id='form_step6'>
                <%= f.label :y_label, class: 'col-lg-2' %>
                <div class='col-lg-10'>
                    <%= f.input_field :y_label, class: 'form-control' %>
                </div>
            </div>

            <div class='form-group' id='form_step7'>
                <%= f.label :data_units, class: 'col-lg-2' %>
                <div class='col-lg-10'>
                    <%= f.input_field :data_units, class: 'form-control' %>
                </div>
            </div>

            </hr>

            <div class='form-group' id='form_step8'>
                <%= f.label :chart_type, class: 'col-lg-2' %>
                <div class='col-lg-10'>
                    <span class='help-block'>
                        Choose the chart type you would like. Note: remember that the datasets have to conform to a specific format.
                    </span>

                    <%= f.select :chart_type, ['basic_line',
                                                'spline',
                                                'basic_pie',
                                                'basic_bar',
                                                'stacked_bar',
                                                'basic_column',
                                                'stacked_column',
                                                'scatter'] %>
                </div>
            </div>

            <div class='form-group' id='form_step9'>
                <div class='col-lg-offset-2 col-lg-10'>
                    <span class='help-block'>You can upload a dataset Excel file.</span>
                    <%= f.file_field :attachment %>
                </div>
            </div>
            <div class='form-group'>
                <div class='col-lg-offset-2 col-lg-10'>
                    <%= f.button :submit, class: 'btn btn-primary', id: 'form_step10' %>
                </div>
            </div>
        <% end %>
        </div>
    </div>
</div>
