<%
    title @dataset.name
    description @dataset.description
    keywords [@dataset.name, @dataset.y_label, @dataset.x_label].join(", ")
%>
<div class='row'>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Datasets", datasets_path %></li>
      <li class="active"><i class='fa fa-cloud-download'></i> <%= @dataset.name %></li>
    </ol>

    <h2 class="page-header"><%= @dataset.name %></h2>
</div>

<div class='row'>
    <p class='pull-right'>
        <% if @dataset.attachment.image? %>
            <%= image_tag @dataset.attachment.url %>
        <% else %>
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Download <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Excel", @dataset.attachment.url %></li>
                <li><%= link_to "JSON", "#{dataset_url(@dataset)}.json" %></li>
                <!-- <li><%= link_to "CSV", dataset_path(@dataset, format: 'csv') %></li> -->
              </ul>
            </div>
        <% end %>
    </p>
    <p class='pull-left'>
        <%= link_to root_path, class: 'btn btn-default' do %>
            Back to home page <span class='fa fa-home'></span>
        <% end %>

        <%= link_to "#", class: 'btn btn-info' do %>
            Comments
            <i class='fa fa-comments'></i>
        <% end %>

        <%= link_to new_dataset_comment_path(@dataset), class: 'btn btn-success' do %>
            Comment on this dataset <i class='fa fa-comment-o'></i>
        <% end %>
    </p>
</div>

<div class='row panel panel-default'>
    <div class='panel-heading'>
        <h3 class='panel-title'>Visualization</h3>
    </div>
    <div class='panel-body'>
        <div id="container" data-no-turbolink style="height: 400px; margin: auto; min-width: 310px;"></div>
    </div>
</div>
<% if @chart_type %>
    <%= render "shared/charts/#{@chart_type}.html.erb" %>
<% end %>

<div class='row' style='margin-bottom: 50px;'>
    <h3 class='page-header'>Comments</h3>

    <div id='comment'>
        <% @comments.each do |comment| %>
            <div class='comment row'>
                <div class='avatar'>
                    <%= image_tag(avatar_url(comment.user, size=64)) %>
                </div>
                <div class='main'>
                    <div class='headline'>
                        <%= full_name_of comment.user %> commented <span style='text-align: right'><%= time_ago_in_words(comment.created_at) + " ago." %></span>
                    </div>
                    <div class='comment_content'>
                        <p><%= comment.content %></p>
                    </div>
                </div>
                <div class='clear'></div>
            </div>
        <% end %>
        <%= paginate @comments %>
    </div>

</div>
