<%
    title @dataset.name
    description @dataset.description
    keywords [@dataset.name, @dataset.y_label, @dataset.x_label].join(", ")
%>
<div class='row'>
    <ul class="breadcrumbs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Datasets", datasets_path %></li>
      <li class="active"><i class='fa fa-cloud-download'></i> <%= @dataset.name %></li>
    </ul>

    <% if !current_user.nil? and current_user.is_admin?%>
    <p>
        <h4 class='text-center' style='float:left;'><%= @dataset.name %></h4>
        <span style='float: right;'><button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Admin Tasks</button><br/>
                <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                <% if !@dataset.approved or @dataset.nil? %>
                  <li>
                  <%= link_to approve_dataset_path(@dataset), method: :post do %>
                    Approve Dataset
                            <% end %>
                  </li>
                <% end %>
                  <li><a href="#">Delete</a></li>
                </ul></span>
    </p>
    <% else %>
        <h4 class='text-center' style='float:left;'><%= @dataset.name %></h4>
    <% end %>
    <hr>
    <div class='row'>
        <div class='large-9 columns'>
            <span class='radius secondary label'>Description</span><br/>
            <p><%= @dataset.description %></p>
            <strong>Tags:</strong>
            <% if @dataset.tags != "" %>
                <% @dataset.tags.split(",").each do |tag|%>
                    <span class='label'><%= tag %></span>
                <% end %>
            <% else %>
                    <span class='label alert'>
                    There are no tags, sectors or categories assigned to dataset
                    </span>
            <% end %>
        </div>
        <div class='large-3 columns panel'>
            <h5>Dataset source</h5>
            <p><em><%= @dataset.sub_title %></em></p>

            <h5>Publisher/Author</h5>
            <p>
                <% if @dataset.open_workspace %>
                    <em>
                        <%= link_to @dataset.open_workspace.organization_name,
                                    @dataset.open_workspace %>
                    </em>
                <% else %>
                <div class='panel callout'>
                    <p>
                    This data is not available at the moment.
                    <br/><strong>Dataset doesn't belong to a workspace.
                    </p>
                </div>
                <% end %>
            </p>
            <h5>Uploaded by</h5>
            <p>
            <% if !@dataset.user.nil? %>
                <span class='label success'>
                    <%= full_name_of @dataset.user %>
                </span>
            <% else %>
                    <span class='label danger'>Unassigned</span>
            <% end %>
            </p>

            <h5>Date release</h5>
            <p>
                <span class='label secondary'>
                    <%= @dataset.created_at.strftime("%d %B, %Y") %>
                </span>
            </p>
            <% if signed_in? %>
                <% if has_access? @dataset.open_workspace, current_user, @dataset %>
                    <%= link_to 'Edit dataset', edit_dataset_path(@dataset) %>
                    |
                    <%= link_to @dataset, method: :delete, confirm: 'Are you sure you want to delete dataset?' do %>
                    Delete <i class='fa fa-trash-o'></i>
                    <% end %>
                <% end %>
            <% end %>
        </div>

    </div>
</div>

<div class='row'>
    <p class='right'>
        <% if @dataset.attachment.image? %>
            <%= image_tag @dataset.attachment.url %>
        <% else %>
            <div class="btn-group pull-right">
              <a class="button dropdown" data-dropdown='options1'>
                <span class="fa fa-download"></span>
                Download
              </a>
              <ul id='options1' data-dropdown-content class='f-dropdown'>
                <li><%= link_to "Excel", @dataset.attachment.url %></li>
                <li><%= link_to "JSON", "#{dataset_url(@dataset)}.json" %></li>
              </ul>
            </div>
        <% end %>
    </p>
    <p class='left'>
        <%= link_to new_dataset_comment_path(@dataset), class: 'button success' do %>
            Comment on this dataset <i class='fa fa-comment-o'></i>
        <% end %>
    </p>
</div>
    <% if !@dataset.no_viz %>
        <div class='row panel callout'>
            <% if @chart %>
                <div id='chart'></div>
                <%= high_chart("chart", @chart) %>
            <% else %>
                <div class='alert-box warning'>
                    <p class='lead' style='color: white;'>
                        Your chart could not be rendered properly.
                        <br/>Several things could be happening, try the following
                        <ul>
                          <li>Refresh this page</li>
                          <li>if after the 3rd try, chances are high that you used an
                            improper excel format for document/dataset uploads. See manual.
                          </li>
                        </ul>
                    </p>
                </div>
            <% end %>
        </div>
    <% end %>
<div class='row'>
    <div class='large-12 columns'>
        <h3 class='page-header'>Comments</h3>
        <hr>
        <% if @comments.exists? %>
            <div id='comment'>
                <% @comments.each do |comment| %>
                    <div class='row'>
                        <div class='large-2 columns'>
                        <%= image_tag(avatar_url(comment.user, size=64), class: 'th') %><br/>
                        <%= full_name_of comment.user %>
                        </div>
                        <div class='large-10 columns'>
                        <p><%= comment.content %></p>
                        <span class='label default right'><%= time_ago_in_words(comment.created_at) + " ago." %></span>
                        </div>
                    </div>
                    <hr>
                <% end %>
                <%= paginate @comments %>
            </div>
    <% else %>
    <div class='panel callout'>
        <p class='lead'>
            There are no comments on this dataset, be the first to comment
        </p>
    </div>
    <% end %>

    </div>
</div>
