<%
    content_for(:title, @dataset.name)
    content_for(:description, @dataset.description)
%>
<div class='row'>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Datasets", datasets_path %></li>
      <li class="active"><i class='fa fa-cloud-download'></i> <%= @dataset.name %></li>
    </ol>

    <h2 class="page-header"><%= @dataset.name %></h2>
</div>

<div class='row'>
    <p class='pull-right'>
        <% if @dataset.attachment.image? %>
            <%= image_tag @dataset.attachment.url %>
        <% else %>
            <%= link_to @dataset.attachment.url, class: 'btn btn-primary' do %>
                Download file
                <i class='fa fa-download'></i>
            <% end %>
        <% end %>
    </p>
    <p class='pull-left'>
        <%= link_to root_path, class: 'btn btn-default' do %>
            Back to home page <span class='fa fa-home'></span>
        <% end %>

        <%= link_to "#", class: 'btn btn-info' do %>
            Comments
            <i class='fa fa-comments'></i>
        <% end %>

        <%= link_to new_dataset_comment_path(@dataset), class: 'btn btn-success' do %>
            Comment on this dataset <i class='fa fa-comment-o'></i>
        <% end %>
    </p>
</div>

<div class='row panel panel-default'>
    <div class='panel-heading'>
        <h3 class='panel-title'>Visualization</h3>
    </div>
    <div class='panel-body'>
        <div id="container" style="height: 400px; margin: auto; min-width: 310px; max-width: 600px"></div>
    </div>
</div>
<% if @chart_type %>
    <%= render "shared/charts/#{@chart_type}.html.erb" %>
<% end %>
