<div class='row'>
    <div class='large-12 columns'>
        <h2>All Workspaces</h2>
        <table>
            <thead>
                <th width="200">Name</th>
                <th width="400">Description</th>
                <th>Location</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <% @workspaces.each do |workspace| %>
                <tr>
                    <td><%= link_to workspace.organization_name, workspace %></td>
                    <td><%= workspace.description %></td>
                    <td><%= workspace.location %></td>
                    <td><%= link_to "Apply to Join", "", class: 'button' %></td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <%= link_to "Create a workspace", new_workspace_path, class: 'button success' %>
    </div>
</div>
