<div class='row'>
    <div class='large-12 columns' style='border-bottom: 2px solid red; margin-bottom: 2px;'>
    <% if !@workspace.approved %>
        <div class='alert-box alert'>
        Your workspace has not been approved by the administrator.
        </div>
    <% end %>
        <div>
            <h3 class='left'><%= @workspace.organization_name %></h3>
            <% if signed_in? and has_access? @workspace, current_user %>
            <span class='right'>
                <a href='#' data-dropdown='settingsDrop' class='small secondary radius button dropdown'>Settings</a>
                <ul id='settingsDrop' data-dropdown-content class='f-dropdown'>
                    <% if has_change_access? @workspace, current_user %>
                        <li>
                            <%= link_to 'Edit Workspace', [:edit, @workspace] %>
                        </li>
                        <% if !@workspace.approved %>
                        <li>
                            <%= link_to approve_workspace_path(@workspace), method: :post do %>
                                Approve Workspace
                            <% end %>
                        </li>
                        <% end %>
                    <% end %>
                    <li>
                        <%= link_to 'Leave workspace', {
                            controller: 'workspaces',
                            action: 'leave_workspace',
                            id: @workspace.id
                            }, {method: :delete, confirm: "Are you sure you want to leave this workspace?"} %>
                    </li>
                </ul>
            </span>
            <% end %>
        </div>

    </div>
</div>

    <% if signed_in? %>
    <div class='row'>
        <div class='columns large-12'>
        <% if has_access? @workspace, current_user %>
            <%= link_to new_workspace_dataset_path(@workspace), class: 'button' do %>
                New Dataset <i class='fa fa-plus'></i>
            <% end %>
            <%= link_to new_workspace_document_path(@workspace), class: 'button success' do %>
                Upload document <i class='fa fa-upload'></i>
            <% end %>
        <% end %>

        <% if has_change_access? @workspace, current_user %>
            <br/>
            <%= link_to pending_path(@workspace), class: 'button alert' do %>
                <i class='fa fa-users'></i>
                <%= pluralize @workspace.memberships.where(approved: false).count, "Pending Membership" %>
            <% end %>
        <% end %>

            <div class='right panel callout'>
                <p class='lead'>You can download all datasets as:</p>
                <ul>
                    <li><%= link_to "JSON", "#{datasets_url}.json" %></li>
                    <li><%= link_to "CSV", datasets_path(@datasets, format: 'csv') %></li>
                </ul>
            </div>
        </div>
    </div>
    <% end %>

    <% if @datasets %>
        <div class='row panel'>
            <div class='large-12 columns'>
              <span class='left'>
                <h3><i class='fa fa-database'></i> <%= pluralize @datasets.count, 'dataset' %></h3>
                <h3><i class="fa fa-file-pdf-o"></i> <%= link_to pluralize(@documents.count, 'document'), workspace_documents_path(@workspace) %></h3>
              </span>
                <hr>
                <span>
                    <%= form_tag datasets_path, method: :get do %>
                        <div class='row'>
                        <div class='large-12 columns'>
                            <div class='row collapse'>
                                <div class='small-8 columns'><%= text_field_tag :search, params[:search], placeholder: 'Search using a keyword, name, or category' %></div>

                                <div class='small-4 columns'>
                                <button type='submit' class='button postfix'>
                                    <i class='fa fa-search'></i> Search
                                </button></div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </span>
            </div>
        </div>

    <div class='row'>
        <div class='large-2 columns'>
            <table>
            <thead>
                <th width="200">Sectors/Tags</th>
            </thead>
            <tbody>
            <form>
                <% @tags.each do |tag| %>
                    <tr><td>
                        <input type='checkbox' name='tag' value='<%= tag %>'>
                        <%= tag %>
                    </td></tr>
                <% end %>
            </tbody>
            </form>
            </table>
            <button class='button alert secondary'>Apply</button>
        </div>
        <div class='large-10 columns'>
        <div data-no-turbolink>
            <table>
                <thead class='colorize'>
                    <th width="550">Dataset Title</th>
                    <th width="100">Views</th>
                    <th width="220">Release date</th>
                </thead>
                <tbody>
                <% @datasets.each do |dataset| %>
                    <% if dataset.is_a? Array %>
                        <% use_dataset = dataset[0] %>
                    <% else %>
                        <% use_dataset = dataset %>
                    <% end %>
                    <tr>
                        <td>
                            <span class='short-header-table'>
                                <%= link_to use_dataset.name, [@workspace, use_dataset]%>
                            </span><br/>
                            <span class='short-description-table'><%= use_dataset.description %></span>
                        </td>
                        <td><%= use_dataset.view_count %></td>
                        <td><%= use_dataset.created_at.strftime("%B %d, %Y") %></td>
                    </tr>
                <% end %>
                </tbody>
                </table>

            <% if params[:search].nil? %>
                <%# paginate @datasets %>
            <% end %>
        </div>
</div></div>
    <% else %>
    <div class='panel callout'>
        <p class='lead'>There are no datasets in this workspace</p>
    </div>
    <% end %>
