<% title("Users") %>

<div class='row'>
<div class='large-12 columns'>
    <h2>Users</h2>
    <table>
        <thead>
            <th colspan=2>Name</th>
        </thead>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.full_name %></td>
                <td>
                    <% if user.is_banned? %>
                        <%= render partial: 'unban', locals: { user: user } %>
                    <% else %>
                        <%= render partial: 'ban', locals: {user: user} %>
                    <% end %>
                    <% if user.is_admin? %>
                        <%= link_to remove_admin_path(user), confirm: 'Are you sure?', method: :post, class: 'button success' do%>
                            Remove Admin
                        <% end %>
                    <% else %>
                        <%= link_to make_admin_path(user), confirm: 'Are you sure?', method: :post, class: 'button' do%>
                            <span class='fa fa-desktop'></span>
                            Make Admin
                        <% end %>
                    <% end %>
                    <%= link_to user, method: :delete, confirm: "Are you sure?", class: 'button alert' do %>
                        <span class='fa fa-trash-o'></span>
                        Delete
                    <% end %>
                    <%= link_to 'Show', user, class: 'button secondary' %>

                </td>
            </tr>
        <% end %>
    </table>
</div></div>
