<% title("Users") %>
<div class='page-header'>
    <h2>Users</h2>
</div>
<div class='row'>

    <table class='table'>
        <thead>
            <th colspan=2>Name</th>
        </thead>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.full_name %></td>
                <td>
                    <div class='row pull-right'>
                    <% if user.is_banned? %>
                        <%= render partial: 'unban', locals: { user: user } %>
                    <% else %>
                        <%= render partial: 'ban', locals: {user: user} %>
                    <% end %>
                    <%= link_to "Delete", user, method: :delete, confirm: "Are you sure?", class: 'btn btn-danger' %>
                    <%= link_to 'Show', user, class: 'btn btn-default' %>
                    </div>
                </td>
            </tr>
        <% end %>
    </table>
</div>
