<% title("Users") %>
<div class='page-header'>
    <h2>Users</h2>
</div>
<div class='row' style='margin-bottom: 40px;'>

    <table class='table table-striped'>
        <thead>
            <th colspan=2>Name</th>
        </thead>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.full_name %></td>
                <td>
                    <div class='row pull-right'>
                    <% if user.is_banned? %>
                        <%= render partial: 'unban', locals: { user: user } %>
                    <% else %>
                        <%= render partial: 'ban', locals: {user: user} %>
                    <% end %>
                    <% if user.is_admin? %>
                        <%= link_to remove_admin_path(user), confirm: 'Are you sure?', method: :post, class: 'btn btn-large btn-success' do%>
                            Remove Admin
                        <% end %>
                    <% else %>
                        <%= link_to make_admin_path(user), confirm: 'Are you sure?', method: :post, class: 'btn btn-large btn-info' do%>
                            <span class='fa fa-desktop'></span>
                            Make Admin
                        <% end %>
                    <% end %>
                    <%= link_to user, method: :delete, confirm: "Are you sure?", class: 'btn btn-danger' do %>
                        <span class='fa fa-trash-o'></span>
                        Delete
                    <% end %>
                    <%= link_to 'Show', user, class: 'btn btn-default' %>
                    </div>
                </td>
            </tr>
        <% end %>
    </table>
</div>
