<div class='large-12 columns'>


<div class="wizard">
    <a><span class="badge">1</span>  Add Name and Source of data</a>
    <a><span class="badge">2</span> Select Type of Data</a>
    <a><span class="badge">3</span> Select a time or space format</a>
    <a class='current'><span class="badge badge-inverse">4</span> Attach joined data to a Data series</a>
</div>
<br/>


    <div class='panel callout radius'>
    Congratulations on reaching this step! You are almost done.

    Please search for a data series this joined up dataset belongs to, alternatively, you can create a dataseries here and attach your joined up
    data to it.
    </div>

<%= form_for @joined_up_dataset, url: wizard_path do |f| %>
    <table>
        <thead>
          <tr>
            <th width='300'>Data Chosen in Step 2</th>
            <th width='600'>Data series name | Indicator</th>
          </tr>
        </thead>
        <tbody>
        <% @joined_up_dataset['data_extract']['header_definitions'].each do |hdef| %>
            <% if hdef['types_of_data'] == 'data_series' %>
              <% key = hdef['key'] %>
              <tr>
                <td><%= key %></td>
                <td>
                  <form action='#' method='POST' onSubmit="return false;">
                    <div class='row'>
                      <div class='large-8 columns'>
                        <input id='<%=key%>' type='text' name='data_serie' placeholder='Start typing data serie name' style='width: 350px;'/>
                        <div id='notify-<%= key %>'>
                          You selected: <span class='label' id='label-<%= key %>'></span>
                        </div>
                        <br/>
                        <% dss = hdef[:data_serie_slug] %>
                        <% if !dss.nil? %>
                          <div class='selection-<%= key %>'>You selected: <span class='label'><%= dss %></span></div>
                        <% end %>
                      </div>

                      <div class='large-4 columns'>
                        <button id='<%= key %>-add' type="button"><span class='fa fa-plus-square' data-tooltip aria-haspopup="true" class="has-tip" title="Click to attach data serie to this data column!">
                        </span> Connect</button>
                      </div>
                    </div>
                  </form>
                  <script type='text/javascript'>
                  $(document).ready(function(){
                    $('div#notify-<%= key %>').hide();
                    $('button#<%= key %>-add').click(function(event){
                      // $(this).slideUp();
                      // $('#<%= key %>').slideUp();
                      var data_serie_name = $('input#<%= key %>').val();
                      // post data serie so it is added (data serie slug)
                      var url = "<%= open_workspace_add_data_series_url(@workspace, @joined_up_dataset.id) %>";
                      $('span#label-<%= key %>').text(data_serie_name);
                      $('div#notify-<%= key %>').show();
                      $('div.selection-<%= key %>').hide();
                      $.post(url, { name: data_serie_name, key: "<%= key %>" }, function(result){});
                      event.preventDefault();
                    });
                  });
                  </script>
                    <script type='text/javascript'>
                      $(document).ready(function(){
                      var substringMatcher = function(strs) {
                        return function findMatches(q, cb) {
                          var matches, substringRegex;

                          // an array that will be populated with substring matches
                          matches = [];

                          // regex used to determine if a string contains the substring `q`
                          substrRegex = new RegExp(q, 'i');

                          // iterate through the pool of strings and for any string that
                          // contains the substring `q`, add it to the `matches` array
                          $.each(strs, function(i, str) {
                            if (substrRegex.test(str)) {
                              // the typeahead jQuery plugin expects suggestions to a
                              // JavaScript object, refer to typeahead docs for more info
                              matches.push({ value: str });
                            }
                          });

                          cb(matches);
                        };
                      };

                      var dataseries = [];
                      $.getJSON('<%= data_series_index_url + ".json" %>', function(data){
                        // c.log(data['data_series'])
                        $.each(data, function(key, val){
                          dataseries = val;
                          // TODO -> use a slug; assume names are unique
                          $('#<%= key %>').typeahead({
                            hint: true,
                            highlight: true,
                            minLength: 1
                            },
                            {
                              name: 'data_series',
                              displayKey: 'value',
                              source: substringMatcher(dataseries)
                              // source: dataseries.ttAdapter()
                          });
                        });
                      });
                    });
                    </script>
                </td>
              </tr>
            <% end %>
        <% end %>
    </tbody>
    </table>
    <p>
        Missing a data serie? | <a href="#" data-reveal-id="dataSeriesModal">Create one</a>
    </p>
    <hr>
    <div class='actions'>
        <%= f.submit "Submit", class: 'button success' %>
        or <%= link_to "Previous", previous_wizard_path %>
    </div>
<% end %>
</div>

<!-- form modal -->
<div id="dataSeriesModal" class="reveal-modal small" data-reveal>
  <h3>Create a New Dataseries</h3>
  <form class="custom">
      <fieldset>
          <input type="text" id="name" placeholder="Name">
          <label>Description</label>
          <textarea id="description" rows=3></textarea>
          <label>Sector</label>
          <select id='sector'>
            <% Sector.all.each do |sector| %>
            <option value="<%= sector.id %>"><%= sector.description %></option>
            <% end %>
          </select>
          <label>Unit of Mesasure</label>
          <!-- <input type="text" id="unit_of_measure" rows=3 placeholder="Unit of Measure"> -->
          <select id='unit_of_measure'>
            <% UnitOfMeasure.all.each do |uom|%>
              <option value="<%= uom.id %>"><%= uom.description %></option>
            <% end %>
          </select>
          <label>Notes</label>
          <textarea type="text" id="note" rows=4></textarea>
          <input type="text" id="sources" placeholder="Sources">
          <input type="text" id="tags" placeholder="Keywords">
          <button type="submit" id="data-series" class="small button">Create</button>
      </fieldset>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>
