<div class='large-12 columns'>


<div class="wizard">
    <a><span class="badge">1</span>  Add Name and Source of data</a>
    <a><span class="badge">2</span> Select Type of Data</a>
    <a><span class="badge">3</span> Select a time or space format</a>
    <a class='current'><span class="badge badge-inverse">4</span> Attach joined data to a Data series</a>
</div>
<br/>


    <div class='panel callout radius'>
    Congratulations on reaching this step! You are almost done.

    Please search for a data series this joined up dataset belongs to, alternatively, you can create a dataseries here and attach your joined up
    data to it.
    </div>

<%= form_for @joined_up_dataset, url: wizard_path do |f| %>
    <table id="data_series">
        <thead>
            <tr>
                    <th>Data Chosen in Step 1</th>
                    <th>Data series name | Indicator</th>
                    <!-- <th>Description</th> -->
                    <!-- <th>Date created</th> -->
                    <!-- <th>Select</th> -->
                </tr></thead>

        <tbody>
        <tr>
            <td>Anc1st visit</td>
            <td>
                     <select>
                      <option value="volvo">data serie 1</option>
                      <option value="saab">data serie 2</option>
                    </select>
            </td>
        </tr>
        <tr>
            <td>Anc4th visit</td>
            <td>
                     <select>
                      <option value="volvo">data serie 1</option>
                      <option value="saab">data serie 2</option>
                    </select>
            </td>
        </tr>
        <!--
        <% DataSerie.all.each do |data_serie| %>
            <tr>
                <td>
                    ANC1st visit
                </td>
                <td><%= data_serie.name %></td>
                <td><%= data_serie.description %></td>
                <td>
                     <select>
                      <option value="volvo">Anc1st visit</option>
                      <option value="saab">Anc4th visit</option>
                    </select>
                <td>
                     <select>
                      <option value="volvo">Anc1st visit</option>
                      <option value="saab">Anc4th visit</option>
                    </select>
            </td>
                <td><%= data_serie.created_at.strftime("%B %e, %Y") %></td>
                <td>
                    <input id="<%= data_serie.id %>" value="<%= data_serie.id %>" name='data_serie' type='radio' <% if @joined_up_dataset.data_serie == data_serie %>checked="true" <% end %>/>
                </td>
            </tr>
            <script>
              $("#<%= data_serie.id %>").on("click", function(){
                var url = "<%= root_url %>"+"open_workspaces/<%= @workspace.slug %>/joined-up-datasets/"+
                    $(this).val()+
                    "/process-data-series";

                $.post(url, {
                    data_series_id: $(this).val()
                }, function(result){
                    console.log("Attached data serie to joined data!");
                });
              });
            </script>
        <% end %>
        -->
        </tbody>
    </table>
    <p>
        Missing a data serie? | <a href="#" data-reveal-id="dataSeriesModal">Create one</a>
    </p>
    <hr>
    <div class='actions'>
        <%= f.submit "Continue", class: 'button success' %>
        or <%= link_to "Previous", previous_wizard_path %>
    </div>
<% end %>
</div>

<!-- form modal -->
<div id="dataSeriesModal" class="reveal-modal small" data-reveal>
  <h3>Create a New Dataseries</h3>
  <form class="custom">
      <fieldset>
          <input type="text" id="name" placeholder="Name">
          <input type="text" id="description" rows=3 placeholder="Description">
          <button type="submit" id="data-series" class="small button">Create</button>
      </fieldset>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>
