<div class='large-12 columns'>

<div class="wizard">
    <a><span class="badge">1</span> Select Type of Data</a>
    <a><span class="badge">2</span> Select a time or space format</a>
    <a><span class="badge badge-inverse">3</span> Attach joined data to a Data series</a>
    <a class='current'><span class="badge">4</span> Add Name and Source of data</a>
</div>
<br/>


    <div class='panel callout radius'>
    Congratulations for reaching the final step!

    Please provide a name for this Joined up dataset
    </div>

<%= simple_form_for @joined_up_dataset, url: wizard_path do |f| %>

    <% if @joined_up_dataset.errors.any? %>
    <div class='alert-box alert'>
        The following errors have prohibited your dataset from being saved:
        <ul>
            <% @joined_up_dataset.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        Please review all the stages of this upload wizard (you may have to
        revisit previous stages and look at pointers or tips on uploading joined up data)
    </div>
    <% end %>
    <%= f.input :name %>
    <%= f.input :source_of_data %>
    <hr>
<div class='actions'>
        <%= f.submit "Submit", class: 'button success' %>
        or <%= link_to "Previous", previous_wizard_path %>
    </div>
<% end %>

</div>
