<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("P1030206.png", title: 'Meeting', style: 'width: 1200px; height: 500px') %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag("P1030157.png", title: 'Meeting', style: 'width: 1200px; height: 500px') %>
      <div class="carousel-caption">
        ...
      </div>
    </div>

    <div class="item">
      <%= image_tag("P1030220.png", title: 'Meeting', style: 'width: 1200px; height: 500px') %>
      <div class="carousel-caption">
        ...
      </div>
    </div>

  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <span>
                    Open Development Data Uganda is a fully engaging portal
                </span>
                <p>encourages individuals and organizations to
                    share data, discuss datasets, develop solutions using datasets.
                </p>
            </div>
            <div class="col-md-3">
                <%= link_to "Register Now", register_path, class: 'btn-buy hover-effect' %>
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container">
    <!-- Service Blocks -->
    <div class="row">
        <div class="col-md-4">
            <div class="service" id="question">
                <i class="fa fa-question service-icon"></i>
                <div class="desc">
                    <h4>What is Open Development Data Uganda?</h4>
                    <p>
                        Open development is where organisations are using information
                        technologies, among other information sharing channels,
                        to provide and share information. Open development enhances
                        transparency and accountability about resources that are
                        available to be invested in development, how those resources
                        are invested and what results they achieve. In the end, all
                        the stakeholders involved in this information sharing chain;
                        the data owners and users benefit from this mutually reinforcing
                        ecosystem
                    </p>
                </div>
            </div>
            <a id="more_question">Read more...</a>
        </div>
        <div class="col-md-4">
            <div class="service" id="objectives">
                <i class="fa fa-star service-icon"></i>
                <div class="desc">
                    <h4>Objectives</h4>
                    <p>
                        Opendevdata was built to serve the following purposes:
                        <ul>
                            <li>
                            Establishing and maintaining a learning space for
                            players in open development to reflect and contribute
                            to solving development challenges related to access and
                            use of information.
                            </li>
                            <li>
                            Share development-oriented information and data for
                            wider public usage.
                            </li>
                            <li>
                                Documenting best practices on application and
                                impact of open development initiatives to
                                peoples’ socio-economic and political wellbeing.
                            </li>
                            <li>
                                Enhancing citizens’ capacity to access and use
                                information/data to effectively participate in
                                development processes.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <a id="more_objectives">Read more...</a>
        </div>
        <div class="col-md-4">
            <div class="service" id="outcomes">
                <i class="fa fa-heart service-icon"></i>
                <div class="desc">
                    <h4>Expected outcomes</h4>
                    <p>
                        The open development programme will generate a range of
                        positive outcomes for the government of Uganda, its
                        citizens, academic institutions, civic organizations,
                        development partners and the private sector actors among
                        others. Some of these include:
                        <ul>
                            <li>Increased citizens’ voice and participation in
                            governance of the country.</li>
                            <li>
                                Increased effectiveness and efficiency in use of
                                aid and development resource, especially towards
                                national poverty reduction objectives.
                            </li>
                            <li>Transparent decision-making processes and
                            accountable public workers.</li>
                        </ul>
                    </p>
                </div>
            </div>
            <a id="more_outcomes">Read more...</a>
        </div>
    </div><!--/row-->
    <!-- End Service Blokcs -->

    <!-- Recent Works -->
<!--     <div class="headline"><h2>Recent Projects</h2></div>
    <div class="row">

    <div class='jumbotron'>
        <p class='leading'>No projects have been created so far.</p>
    </div>
 -->
    <!--
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <%= image_tag("2.jpg", class: "img-responsive") %>
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project One</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <%= image_tag("3.jpg", class: "img-responsive") %>
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project Two</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <%= image_tag("9.jpg", class: 'img-responsive') %>
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project Three</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <%= image_tag("10.jpg", class: 'img-responsive') %>
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project Four</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
    -->

    </div><!--/row-->
    <!-- End Recent Works -->

    <!-- Info Blocks -->
    <div class="row" style='margin-top: 10px;'>
        <!-- Welcome Block -->
        <div class="col-md-8">
            <div class="headline"><h2>Welcome To Open Development Data Uganda</h2></div>
            <div class="row">

                <div class="col-sm-4">
                    <%= image_tag('s.jpg', class: 'img-responsive margin-bottom-20') %>
                </div>
                <div class="col-sm-8">
                    <p>
                        Open development is where organisations use information
                        technologies, among other information
                        sharing channels, to provide and share information.
                        Open development enhances transparency and
                        accountability about resources that are available to be
                        invested in development, how those resources
                        are invested and what results they achieve. In the end,
                        all the stakeholders involved in this information
                        sharing chain; the data owners and users benefit from
                        this mutually reinforcing ecosystem.
                    </p>
                </div>
            </div>
        </div><!--/col-md-8-->

        <!-- Latest Datasets -->
        <div class="col-md-4">
            <div class="headline"><h2>Latest</h2></div>
                <div class="thumbnail">
                  <span class='fa fa-list'></span> <span>Datasets</span>
                  <div class="caption">
                    <% if @recent_datasets %>
                        <ul>
                        <% @recent_datasets.each do |dataset| %>
                            <li><%= link_to dataset.name, dataset %></li>
                        <% end %>
                        </ul>
                    <% end %>
                    <%= link_to 'All datasets', datasets_path, class: 'btn btn-primary' %>
                  </div>
              </div>

              <div class="thumbnail">
                  <span class='fa fa-book'></span> <span>Documents</span>
                  <div class="caption">
                    <% if @recent_documents %>
                        <ul>
                        <% @recent_documents.each do |doc| %>
                            <li><%= link_to doc.name, doc %></li>
                        <% end %>
                        </ul>
                    <% end %>
                    <%= link_to 'All documents', documents_path, class: 'btn btn-primary' %>
                  </div>
              </div>
        </div><!--/col-md-4-->
    </div><!--/row-->
    <!-- End Info Blokcs -->

    <!-- Our Partners -->
    <!--
    <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h2>Our Partners</h2></div>

    <div class="flex-viewport" style="overflow: hidden; position: relative;">
        <ul class="slides" style="width: 3400%; -webkit-transition: 0.6s; transition: 0.6s; -webkit-transform: translate3d(-1012.3333333333335px, 0px, 0px);">
            <li style="width: 125.66666666666667px; float: left; display: block;">
                <a href="http://devinit.org/">
                    <%= image_tag("devinit.jpg") %>
                    <%= image_tag("devinit.jpg", class: "color-img") %>
                </a>
            </li>
        </ul></div></div>-->

        <!--/flexslider-->
    <!-- End Our partners -->

</div><!--/container-->
<!-- End Content Part -->
