<blockquote>
    <p>Statistics</p>
</blockquote>
<div class='jumbotron'>
<div class='row'>
    <div class='col-md-6'>
        <div class='row'>
            Datasets<br/>
            <%= @dataset_count %><br/>
            <%= link_to "view", datasets_path %>
        </div>
        <hr>
        <div class='row'>
            Total Dataset views<br/>
            <%= @dataset_view %>
        </div>
        <hr>
        <div class='row'>
            Documents<br/>
            <%= link_to "#{@document_count}", documents_path %>
        </div>
    </div>
    <div class='col-md-6'>
        Signups (System users)<br/>
        <%= User.count %><br/>
        <%= link_to "view", users_path %>
    </div>
</div>
</div>
