<div class='row'>
    <div class='large-4 columns'>
        <div class='row'>
            <div class='large-4 columns hide-for-small'>
            <%= link_to datasets_path do %>
                <i class='fa fa-database fa-5'></i>
            <% end %>
            </div>
            <div class='large-8 columns'>
                <%= link_to datasets_path do %>
                    <%= Dataset.count %><br/>Datasets
                <% end %>
            </div>
        </div>
        <hr>
    </div>
    <div class='large-4 columns'>
        <div class='row'>
            <div class='large-4 columns'>
                <i class='fa fa-cubes fa-5'></i>
            </div>
            <div class='large-8 columns'>
                <%= @tags.count %> <br/>Categories
            </div>
        </div>
        <hr>
    </div>
    <div class='large-4 columns'>
        <div class='row'>
            <div class='large-4 columns hide-for-small'>
                <%= link_to developer_path do %>
                    <i class='fa fa-tint fa-5'></i>
                <% end %>
            </div>
            <div class='large-8 columns left'>
                <%= link_to developer_path do %>
                API <br/>(Developers)
                <% end %>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="row">
    <div>
        <h5 class="text-center">Mapping Uganda's Open Data players: Who is doing what, where in the Open Data Ecosystem</h5>
    </div>
    <br>
    <div id='maps' class="partner-map"></div>
    <br>
    <br>
</div>

<div class='row'>

    <div class='large-5 columns'>

        <div class='row'>
            <div class='large-12 columns'>
                <h5>About</h5>
                <p>
                   Uganda was a little late to the global Open Data Movement,
                   even though many actors had been involved in the old school transparency, openness and access to information
                   initiatives for quiet sometime. Of late however, there is a budding open data movement of data producers, analysts,
                   users and policy makers who are ensuring that data on development is available and accessible.
                   With the increasing growth of the ICT industry, new players are joining the ecosystem every other day.
                    <%= link_to 'Learn more...', about_path %>
                </p>
                <a href='https://www.cia.gov/library/publications/the-world-factbook/geos/ug.html' target="_blank">
               Uganda's GDP -per capita $1,500 </a>
            </div>
        </div>
    </div>
    <div class='large-7 columns'>
        <div class='row'>
            <div class='large-7 columns'>
                <h4 style="border-bottom: 1px solid red;">Latest Datasets</h4>
                <% @recent_datasets.each do |dataset| %>
                <h5 class='short-header'>
                    <% if dataset.title.nil? or dataset.title.empty? %>
                        <%= link_to dataset.name, dataset %>
                    <% else %>
                        <%= link_to dataset.title, dataset %>
                    <% end %>
                </h5>
                <div class='short-description'><span class='release'>Released on</span> <%= dataset.created_at.strftime("%d %B, %Y") %></div>
                <hr>
                <% end %>
                <%= link_to "More datasets...", datasets_path %>
            </div>
            <div class='large-5 columns'>
                <h4 style="border-bottom: 1px solid red;">Blog Roll</h4>
                <div class='posts'>

                    <p class='alert-box warning'><i class='fa fa-spinner'></i> Loading... </p>

                </div>
            </div>
        </div>
    </div>
</div>
 <script type="text/javascript" src="http://petty.io.s3-website-eu-west-1.amazonaws.com/maps.js"></script>
