<% if signed_in? %>
    <% title("Welcome #{current_user.first_name}") %>
<% else %>
    <% title("Welcome") %>
<% end %>

<% if signed_in? %>

<div class='row'>
    <p>
        <b>Open Development Uganda:</b> free data for all.
    </p>
</div>
<div class='row'>
    <div class='col-md-4'>
        <div class='panel panel-default'>
            <div class='panel-body'>
            <% @recent_posts.each do |post| %>
                <h3><%= link_to post.title, post %></h3>
                <span class='author'>
                    <%= full_name_of post.user %>
                </span> |
                <span class='date_main'>
                    posted on <%= post.published_on.to_formatted_s(:short) %>
                </span>
            <% end %>
            <hr>
            <%= link_to "More blog posts...", posts_path, class: "btn btn-default" %>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <h3>Find a dataset</h3>
                <%= form_tag do %>
                    <%= text_field_tag 'name', '', autocomplete: pages_autocomplete_dataset_name_path %>
                <% end %>
                <br/>
                <%= link_to "Documents:", documents_path %><br/>
                <ul>
                    <% @recent_documents.each do |document| %>
                    <li><%= link_to document.name, document.upload.url %></li>
                    <% end %>
                </ul>
                <hr>
                <%= link_to "More datasets...", datasets_path, class: 'btn btn-default', style: 'text-align:center;' %>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        FAQs
        <hr>
    </div>
</div>

<% else %>
    <%= render "marketing" %>
<% end %>
