<div class='row'>
    <div class='large-4 columns'>
        <div class='row'>
            <div class='large-4 columns hide-for-small'>
            <%= link_to datasets_path do %>
                <i class='fa fa-database fa-5'></i>
            <% end %>
            </div>
            <div class='large-8 columns'>
                <%= link_to datasets_path do %>
                    <%= Dataset.count %><br/>Datasets
                <% end %>
            </div>
        </div>
        <hr>
    </div>
    <div class='large-4 columns'>
        <div class='row'>
            <div class='large-4 columns'>
                <i class='fa fa-cubes fa-5'></i>
            </div>
            <div class='large-8 columns'>
                <%= @tags.count %> <br/>Categories
            </div>
        </div>
        <hr>
    </div>
    <div class='large-4 columns'>
        <div class='row'>
            <div class='large-4 columns hide-for-small'>
                <%= link_to developer_path do %>
                    <i class='fa fa-tint fa-5'></i>
                <% end %>
            </div>
            <div class='large-8 columns left'>
                <%= link_to developer_path do %>
                API <br/>(Developers)
                <% end %>
            </div>
        </div>
        <hr>
    </div>
</div>


<% if !signed_in? %>
<div class='row'>
    <div class='columns large-12'>
        <ul class="example-orbit" data-orbit>
          <li>
            <!-- <img src="http://placehold.it/1000x300/A92B48/fff" alt="slide 1" /> -->
            <%= image_tag "P1030220.jpeg", alt: 'slide 1' %>
            <div class="orbit-caption">
              Meeting at DRT offices in Kampala.
            </div>
          </li>
          <li>
            <%= image_tag "P1030206.jpeg", alt: 'slide 2' %>
            <div class="orbit-caption">
              Open development workshop at Africana Hotel
            </div>
          </li>
          <li>
            <%= image_tag "P1030157.jpeg", alt: 'slide 3' %>
            <div class="orbit-caption">
              Workshop
            </div>
          </li>
        </ul>
    </div>
</div>
<% end %>

<div class='row'>

    <div class='large-5 columns'>
        <h4>Uganda</h4>
        <div class='row'>
            <div class='large-6 columns'><div id='map-canvas'></div></div>
            <div class='large-6 columns'>
            GDP - per capita<br/>
            $1,500 (2013 est.)<br/>
            <a href='https://www.cia.gov/library/publications/the-world-factbook/geos/ug.html' target="_blank">
                Learn more</a>
            </div>
        </div>
    </div>
    <div class='large-7 columns'>
        <div class='row'>
            <div class='large-7 columns'>
                <h4 style="border-bottom: 1px solid red;">Latest Datasets</h4>
                <% @recent_datasets.each do |dataset| %>
                <h5 class='short-header'>
                    <% if dataset.title.nil? or dataset.title.empty? %>
                        <%= link_to dataset.name, dataset %>
                    <% else %>
                        <%= link_to dataset.title, dataset %>
                    <% end %>
                </h5>
                <div class='short-description'><span class='release'>Released on</span> <%= dataset.created_at %></div>
                <hr>
                <% end %>
                <%= link_to "More datasets...", datasets_path %>
            </div>
            <div class='large-5 columns'>
                <h4 style="border-bottom: 1px solid red;">Blog Roll</h4>
                <div class='posts'>

                    <p class='alert-box warning'><i class='fa fa-spinner'></i> Loading... </p>

                </div>
            </div>
        </div>
    </div>
</div>
