<% title "Documents" %>
<h1 class='page-header'>
    Documents (<%= Document.count %>)
    <span class='pull-right'>
        <%= link_to  new_document_path, class: 'button' do %>
         Upload document <span class='fa fa-plus'></span>
        <% end %>
    </span>
</h1>

<div class='row'>

    <div class='large-12 columns'><%= form_tag documents_path, method: :get, class: 'form-inline' do %>
                <div class='row'>
                    <div class='large-8 columns'>
                        <%= text_field_tag :search, params[:search], placeholder: 'keyword, name, category' %>
                    </div>
                    <div class='large-4 columns'>
                        <%= submit_tag "Search", name: nil, class: 'button' do %>
                            <span class='fa fa-search'></span>
                        <% end %>
                    </div>
                </div>
        <% end %></div>
</div>
<% if params[:search] %>

<% end %>

<% if @documents.empty? %>
    <div class='alert-box info'>
        <p>There are no documents yet. Would you like to upload a document? Click <%=link_to "here", new_document_path %></p>
    </div>
<% else %>
    <% if params[:search] %>
        <div class='alert alert-info'>
            <p><%= pluralize(@documents.size, "search result") + " returned..." %></p>
        </div>
    <% end %>
    <div class='row' style="margin-bottom: 40px;">
        <ul>
        <% @documents.each do |document| %>

            <% if document.is_a? Array %>
                <% use_document = document[0] %>
            <% else %>
                <% use_document = document %>
            <% end %>

            <li class='doc-list-item'>
                <span class='doc-details'>
                    <span class='doc-title'><%= link_to use_document.name, use_document %></span>
                    <span class='doc-description'><%= link_to use_document.description, use_document %></span><br/>
                    <span class='uploader'>Uploaded by <%= full_name_of use_document.user %></span>
                    <% if use_document.user == current_user %>
                        <%= link_to use_document, method: :delete, confirm: "Are you sure you want to delete this document?", class: 'btn btn-danger' do %>
                            <span class='fa fa-trash'></span> Delete
                        <% end %>
                    <% end %>
                </span>
            </li>
        <% end %>
        <% if params[:search].nil? %>
            <%= paginate @documents %>
        <% end %>
        </ul>
    </div>
<% end %>
