<div class='row' style='margin-top: 5px;'>


<h3 class='page-header'>Upload new document</h3>
<%= simple_form_for @document, html: { class: 'form-horizontal', multipart: true } do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <div class='form-group'>
        <%= f.label :name, class: 'col-lg-2' %>
        <div class='col-lg-10'>
            <%= f.input_field :name, class: 'form-control' %>
        </div>
    </div>

    <div class='form-group'>
        <%= f.label :description, class: 'col-lg-2' %>
        <div class='col-lg-10'>
            <%= f.input_field :description, class: 'form-control' %>
        </div>
    </div>

    <div class='form-group'>
        <%= f.label :attachment, class: 'col-lg-2' %>
        <div class='col-lg-10'>
            <%= f.file_field :attachment, class: 'form-control' %>
        </div>
    </div>

    <div class='form-group'>
        <div class='col-lg-offset-2 col-lg-10'>
            <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
    </div>


<% end %>
</div>
