<div class='panel panel-info'>
  <div class='panel-heading'><h1>Login!</h1></div>
  <div class='panel-body'>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class='form-group'>
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= content_tag :button, :type => :submit, class: 'btn btn-primary' do %>
          Login
          <i class='fa fa-sign-in'></i>
        <% end %>
      </div>
    <% end %>

    <div class='panel-footer'><%= render "devise/shared/links" %></div>
  </div>
</div>
