<%= div_for post do %>
    <div class="row">
        <div class="col-md-1">
            <div class='row'>
                <%= image_tag avatar_url post.user, size=50 %>
            </div>
            <div class='row'>
                <%= link_to full_name_of(post.user), '#' %>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <h1><%= post.title %></h1>
            </div>
            <div class='row'>
                <%= truncate post.content, length: 140 %><br/>
                <%= link_to "published "+ time_ago_in_words(post.published_on) + " ago", post %>
            </div>
        </div>
    </div>
<% end %>
