<% title(@post.title) %>

<div class='row'>
<span class='post-meta'><%= @post.published_on %></span>
<h1 class="post-title"><%= @post.title %></h1>
<section class='post-content'><%= @post.content %></section>
<% if @post.comments.size > 0 %>
    <h2>Comments</h2>
    <% @post.comments.each do |comment| %>

        <p><%= raw(comment.content) %></p>

        <span class='time'>
            <%= comment.created_at %>
        </span>
    <% end %>
<% end %>
<h2>New Comment</h2>

    <%= simple_form_for [@post, Comment.new] do |f| %>
        <p><%= f.input :content, rows: 10 %></p>

        <%= f.button :submit %>
    <% end %>

</div>
