<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Open Development Data - Uganda", root_path, id: 'logo-header' %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <%= link_to root_url do %>
                            <span class='fa fa-home'></span>
                            Home
                        <% end %>
                    </li>
                    <li>
                      <%= link_to datasets_path, id: 'step2' do %>
                        <span class='fa fa-list-ul'></span>
                        Datasets
                      <% end %>
                    </li>
                    <li>
                        <%= link_to documents_path do %>
                        <span class='fa fa-book'></span>
                        Documents
                        <% end %>
                    </li>
                    <% if current_user && current_user.is_admin? %>
                    <li>
                        <%= link_to users_path do%>
                            Users
                            <span class='fa fa-user'></span>
                        <% end %>
                    </li>
                    <% end %>
<<<<<<< HEAD
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Pages
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <%= link_to "About us", about_path %>
                            </li>
                            <li>
                                <a href="#">FAQs Page</a>
                            </li>
                        </ul>
                    </li>
=======
>>>>>>> d3c7784dd323dd5beeb47d45d3c3a6011cafe892
                    <li><%= link_to "Blog", "http://blog.opendevdata.ug" %></li>

                    <li class="hidden-sm"><a class="search"><i class="fa fa-search icon-search search-btn"></i></a></li>
                </ul>
                <div class="search-open">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Go</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div><!-- /navbar-collapse -->
        </div>
    </div>
</div><!--/header-->
