  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'Open Dev Data', root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to 'About', about_path %></li>
      <li><a href='http://blog.opendevdata.ug' target="_blank">Blog</a></li>
        <% if signed_in? %>
          <% if current_user.has_role? :admin %>
          <li>
          <%= link_to admin_path do %>
            Admin <i class='fa fa-laptop'></i>
          <% end %>
          </li>
          <% end %>
        <% end %>
      <li class="has-dropdown">
        <a href="#">
          <% if signed_in? %>
            Hi <%= current_user.first_name %>
          <% else %>
            Welcome
          <% end %>
        </a>
        <ul class="dropdown">
        <% if signed_in? %>
          <li>
            <%= link_to my_workspaces_path do %>
              <i class='fa fa-users'></i> My Workspaces
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_registration_path do%>
             <i class='fa fa-cogs'></i> Account settings
            <% end %>
          </li>
          <li class='divider'></li>
          <li>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <!-- <ul class="left">
      <li class='has-form'>
          <div class='row collapse'>
              <div class='large-8 small-9 columns'>
                  <input type='text' placeholder='Find datasets'>
              </div>
              <div class='large-4 small-3 columns'>
                  <a href='#' class='alert button expand'>Search</a>
              </div>
          </div>
      </li>
    </ul> -->
  </section>
</nav>

<div class='large-12 columns hide-for-small'>
    <dl class='sub-nav colorize round'>
        <dd class='active'>
            <%= link_to 'Open Dev data Uganda', root_path %>
        </dd>
        <dd><%= link_to 'Datasets', datasets_path %></dd>
        <dd><%= link_to 'Documents', documents_path %></dd>
        <dd><%= link_to 'Categories', '' %></dd>
        <dd><%= link_to 'Workspaces', workspaces_path %></dd>
        <dd><%= link_to 'API', developer_path %></dd>
    </dl>
</div>
