
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Open Dev Data Uganda", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#blog"><span class='glyphicon glyphicon-info-sign'></span> About</a></li>
        <li><a href="<%= datasets_url %>"><i class='fa fa-cloud-download'></i> Data</a></li>
        <li><a href="<%= posts_url %>"><span class='glyphicon glyphicon-pencil'></span> Blog</a></li>

      </ul>
      <ul class="nav navbar-nav pull-right">
      <% if signed_in? %>
        <li>
          <%= link_to edit_user_registration_path do %>
            <span class='fa fa-cogs'></span>
            User Settings
          <% end %>
        </li>
        <li>
          <%= link_to logout_url do %>
            <%=  image_tag(avatar_url(current_user), class: 'gravatar') %>
            <span class='glyphicon glyphicon-log-out'></span>
            Logout
          <% end %>
        </li>
      <% else %>
        <li><a href="<%= login_url %>"><span class='fa fa-sign-in'></span> Login</a></li>
        <li class='active'><a href="<%= register_url %>"><span class='fa fa-user'></span> Register</a></li>
      <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
