  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'Open Dev Data', root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to 'About', about_path %></li>
      <li><a href='http://blog.opendevdata.ug' target="_blank">Blog</a></li>
      <li class="has-dropdown">
        <a href="#">Welcome</a>
        <ul class="dropdown">
          <li>
          <% if signed_in? %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          <% else %>
              <%= link_to "Login", new_user_session_path %>
          <% end %>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li class='has-form'>
          <div class='row collapse'>
              <div class='large-8 small-9 columns'>
                  <input type='text' placeholder='Find datasets'>
              </div>
              <div class='large-4 small-3 columns'>
                  <a href='#' class='alert button expand'>Search</a>
              </div>
          </div>
      </li>
    </ul>
  </section>
</nav>

<div class='large-12 columns hide-for-small'>
    <dl class='sub-nav colorize round'>
        <dd class='active'>
            <%= link_to 'Open Dev data Uganda', root_path %>
        </dd>
        <dd><%= link_to 'Datasets', datasets_path %></dd>
        <dd><%= link_to 'Documents', documents_path %></dd>
        <dd><%= link_to 'Categories', '' %></dd>
        <dd><%= link_to 'Workspaces', '' %></dd>
        <dd><%= link_to 'API', developer_path %></dd>
    </dl>
</div>
