<!DOCTYPE html>
<html lang="en" class="js cssanimations csstransitions"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Open Development Data Uganda <%= yield(:title) %></title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= include_gon %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
       <style>
          .forLastStep {
            font-weight: bold;
            }
            .customDefault {
                color: gray;
            }
            .customDefault .introjs-skipbutton {
                border-radius: 0;
                color: red;
            }
        </style>
</head>

<body style="">

<!--=== Top ===-->
<div class="top">
    <div class="container">
        <ul class="loginbar pull-right">
            <li>
                <i class="fa fa-globe icon-globe"></i>
                <a>Languages</a>
                <ul class="lenguages">
                    <li class="active">
                        <a href="#">English <i class="fa fa-check icon-ok"></i></a>
                    </li>
                    <li><a href="#">Spanish</a></li>
                    <li><a href="#">Russian</a></li>
                    <li><a href="#">German</a></li>
                </ul>
            </li>
            <li class="devider"></li>
            <li>
                <%= link_to '#' do %>
                    <span class='fa fa-question'></span>
                    Help
                <%end%>
            </li>
            <% if signed_in? %>
            <li class="devider"></li>
            <li>
                <%= link_to edit_user_registration_path do %>
                    <span class='fa fa-cogs'></span>
                    Settings
                <%end%>
            </li>
            <% end %>
            <li class="devider"></li>
            <li>
                <% if signed_in? %>
                    <%= link_to logout_path do %>
                        <span class='fa fa-sign-out'></span>
                        Logout
                        <%= image_tag(avatar_url(current_user), class: 'img img-circle') %>
                    <% end %>
                <% else %>
                    <%= link_to login_path do%>
                        <span class='fa fa-sign-in'></span>
                        Login
                    <% end %>
                <% end %>
            </li>
        </ul>
    </div>
</div><!--/top-->
<!--=== End Top ===-->

<!--=== Header ===-->
<%= render "layouts/header" %>
<!--=== End Header ===-->
    <div class='container'>
        <div class='row'>
            <%= yield %>
        </div>
    </div>
<!--=== Footer ===-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>About</h2></div>
                <p class="margin-bottom-25 md-margin-bottom-40">
                    Open Development is not about complex data, computer systems,
                    advanced communication systems or media images but more about
                    a combination of, and interaction between multiple stakeholders
                    i.e. data producers and analysts, technicians,  and communicators;
                    think tanks and academia; development and policy entrepreneurs; media;
                    government ministries/sectors; community–based organisations
                    and people, together working towards a mutual goal. Such openness
                    has the capacity to enhance participatory development, strengthen
                    the legitimacy of the government and create a focus on inclusion
                    and social justice.
                </p>
            </div><!--/col-md-4-->

            <div class="col-md-4 md-margin-bottom-40">
                <div class="posts">
                    <div class="headline"><h2>Recent Blog Entries</h2></div>
                    <dl class="dl-horizontal">
                        <dt>
                            <a href="#">
                                <%= image_tag("6_1.jpg") %>
                            </a>
                        </dt>
                        <dd>
                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#">
                        <%= image_tag("10_1.jpg", alt: '') %>
                        </a></dt>
                        <dd>
                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt>
                        <a href="#">
                            <%= image_tag("11.jpg", alt: '') %>
                        </a>
                    </dt>
                        <dd>
                            <p>
                                <a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a>
                            s</p>
                        </dd>
                    </dl>
                </div>
            </div><!--/col-md-4-->

            <div class="col-md-4">
                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Contact Us</h2></div>
                <address class="md-margin-bottom-40">
                    DRT <br>
                    Uganda <br>
                    Phone: ##### <br>
                    Fax: #### <br>
                    Email: <a href="paul@drt-ug.org" class="">paul{at}drt-ug.org</a>
                </address>

                <!-- Stay Connected -->
                <div class="headline"><h2>Stay Connected</h2></div>

            </div><!--/col-md-4-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/footer-->
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright-space">
                    2013 © Open Development Data Uganda. ALL Rights Reserved.
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                </p>
            </div>
            <div class="col-md-6">
                <a href="#">
                    <%= image_tag("devinit.jpg", class: "pull-right", id: "logo-footer", class: 'logo') %>
                </a>
            </div>
        </div><!--/row-->
    </div><!--/container-->
</div><!--/copyright-->
<!--=== End Copyright ===-->
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        Index.initParallaxSlider();
    });
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45117059-1', 'opendevdata.ug');
  ga('send', 'pageview');

</script>
    <div id="topcontrol" title="Scroll Back to Top" style="position: fixed; bottom: 5px; right: 5px; opacity: 1; cursor: pointer;">
        <%= image_tag("up.png", style: "width:51px; height:42px;") %>
    </div>
</body></html>
