<!DOCTYPE html>
<html lang="en" class="js cssanimations csstransitions"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Open Development Data Uganda <%= yield(:title) %></title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= include_gon %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
       <style>
          .forLastStep {
            font-weight: bold;
            }
            .customDefault {
                color: gray;
            }
            .customDefault .introjs-skipbutton {
                border-radius: 0;
                color: red;
            }
        </style>
</head>

<body style="">
<div id="wrapper">
    <!--=== Top ===-->
    <div class="top">
        <div class="container">
            <ul class="loginbar pull-right">
<<<<<<< HEAD
                <li>
                    <i class="fa fa-globe icon-globe"></i>
                    <a>Languages</a>
                    <ul class="lenguages">
                        <li class="active">
                            <a href="#">English <i class="fa fa-check icon-ok"></i></a>
                        </li>
                        <li><a href="#">Spanish</a></li>
                        <li><a href="#">Russian</a></li>
                        <li><a href="#">German</a></li>
                    </ul>
                </li>
                <li class="devider"></li>
                <li>
                    <%= link_to '#' do %>
                        <span class='fa fa-question'></span>
                        Help
                    <%end%>
                </li>
                <% if signed_in? %>
                <li class="devider"></li>
=======
                <% if signed_in? %>
>>>>>>> d3c7784dd323dd5beeb47d45d3c3a6011cafe892
                <li>
                    <%= link_to edit_user_registration_path do %>
                        <span class='fa fa-cogs'></span>
                        Settings
                    <%end%>
                </li>
                <% if current_user.is_admin? %>
                    <li class='devider'></li>
                    <li>
                        <%= link_to admin_path do%>
                            <span class='fa fa-desktop'></span>
                            Admin
                        <% end %>
                    </li>
                <% end %>
                <% end %>
                <li class="devider"></li>
                <li>
                    <% if signed_in? %>
                        <%= link_to logout_path do %>
                            <span class='fa fa-sign-out'></span>
                            Logout
                            <%= image_tag(avatar_url(current_user), class: 'img img-circle') %>
                        <% end %>
                    <% else %>
                        <%= link_to login_path do%>
                            <span class='fa fa-sign-in'></span>
                            Login
                        <% end %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div><!--/top-->
    <!--=== End Top ===-->

    <!--=== Header ===-->
    <%= render "layouts/header" %>
    <!--=== End Header ===-->
        <div class='container'>
            <div class='row'>
                <%= yield %>
            </div>
        </div>
    <!--=== Footer ===-->
    <%#= render "layouts/ordinary_footer" %>
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    <div id='footer' class="copyright" style='margin-top: 2px;'>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright-space">
                        2013 © Open Development Data Uganda. ALL Rights Reserved.
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <%= image_tag("devinit.jpg", class: "pull-right", id: "logo-footer", class: 'logo') %>
                    </a>
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </div><!--/copyright-->
    <!--=== End Copyright ===-->
    <div id="topcontrol" title="Scroll Back to Top" style="position: fixed; bottom: 5px; right: 5px; opacity: 1; cursor: pointer;">
        <%= image_tag("up.png", style: "width:51px; height:42px;") %>
    </div>

</div>
<script type="text/javascript">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45117059-1', 'opendevdata.ug');
  ga('send', 'pageview');
</script>
</body></html>
